@using GamaExamFullstack.Data

@page "/listparticipants"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService

<MatH3 class="mat-subtitle1">Creators List</MatH3>

<MatDivider Padded="true"></MatDivider>

<MatButton Link="/register/participants">Register New Participants</MatButton>
<MatTable Items="@participants" class="mat-elevation-z5">
    <MatTableHeader>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Institute</th>
        <th>Edit/Delete</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Id</td>
        <td>@context.username</td>
        <td>@context.name</td>
        <td>@context.institute</td>
        <td>
            <MatButton Link=@("/edit/participants/"+context.Id) Raised="true">Edit</MatButton>
            <MatButton OnClick="()=>Delete(context.Id)" Raised="true">Delete</MatButton>
        </td>
    </MatTableRow>
</MatTable>


@code {
    DParticipant[] participants;
    string baseUrl;
    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        participants = await Http.GetJsonAsync<DParticipant[]>("https://localhost:5001/api/DParticipants");
    }
    protected async Task Delete(int Id)
    {
        await Http.DeleteAsync("https://localhost:5001/api/DParticipants/" + Convert.ToString(Id));
        NavigationManager.NavigateTo("listparticipants", forceLoad: true);
    }
}
