@using GamaExamFullstack.Data

@page "/register/participants"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService
@inject IMatToaster Toaster




<div>
    <MatPaper Style="background-color:white;box-shadow: 10px;" Class="matcard-centered">
        <MatHeadline6 Class="text-center">Participant Registration</MatHeadline6>
        <MatTextField @bind-Value="@participants.username" Label="Username" Icon="account_box" FullWidth="true"></MatTextField>
        <p></p>
        <MatTextField @bind-Value="@participants.name" Label="Name" Icon="people" FullWidth="true"></MatTextField>
        <p></p>
        <MatTextField @bind-Value="@participants.institute" Label="Institute" Icon="school" FullWidth="true"></MatTextField>
        <p></p>
        <MatTextField @bind-Value="@participants.password" Label="Password" Type="password" Icon="lock" FullWidth="true"></MatTextField>
        <p></p>
        <div class="d-inline">
            <div style="float:left">
                <MatButton Raised="true" OnClick="@RegisterCreator" Style="float:left;">Create Account</MatButton>
            </div>
            <div style="float:right">
                <MatButton Raised="true" OnClick="@Cancel" Style="float:right;">Cancel</MatButton>
            </div>
        </div>

    </MatPaper>
</div>


@code {
    DParticipant participants = new DParticipant();


    protected async Task RegisterCreator()
    {
        if (participants.username != null && participants.name != null && participants.password != null && participants.institute != null)
        {
            var response = await Http.PostJsonAsync(GlobalSetting.baseAddress + "api/DParticipants", participants);
            if (response.IsSuccessStatusCode == false) Toaster.Add("Username already exist", MatToastType.Danger);
            else NavigationManager.NavigateTo("/");
        }
        else Toaster.Add("Please do not leave any field empty", MatToastType.Danger);

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

}
