@using GamaExamFullstack.Data

@page "/edit/creator/{id}"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService
@inject IMatToaster Toaster

<h3>Edit Creator</h3>

<div>
    <MatCard Class="matcard-centered" Style="box-shadow: 10px">
        <MatHeadline6 Class="text-center">Edit Creators</MatHeadline6>
        <MatTextField @bind-Value="@creator.username" Label="Username"></MatTextField>
        <p></p>
        <MatTextField @bind-Value="@creator.name" Label="Name"></MatTextField>
        <p></p>
        <MatTextField @bind-Value="@creator.institute" Label="Institute"></MatTextField>
        <p></p>
        <MatTextField @bind-Value="@creator.password" Label="Password" Type="password"></MatTextField>
        <p></p>
        <div class="d-inline-block">
            <MatButton Raised="true" OnClick="@UpdateCreator" Style="float:left;">Edit</MatButton>
            <MatButton Raised="true" OnClick="@Cancel" Style="float:right">Cancel</MatButton>

        </div>

    </MatCard>
</div>

@code {
    [Parameter]
    public string id { get; set; }

    DCreator creator = new DCreator();

    protected override async Task OnInitializedAsync()
    {
        creator = await Http.GetJsonAsync<DCreator>("https://localhost:5001/api/DCreators/" + id);
    }

    protected async Task UpdateCreator()
    {
        if (creator.username != null && creator.name != null && creator.password != null && creator.institute != null)
        {
            await Http.PutJsonAsync("https://localhost:5001/api/DCreators/" + id, creator);
            NavigationManager.NavigateTo("listcreators");
        }
        else Toaster.Add("Please do not leave any field empty", MatToastType.Danger);

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("listcreators");
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("https://localhost:5001/api/DCreators/" + id);
        NavigationManager.NavigateTo("listcreators", forceLoad: true);
    }

    }
