@using GamaExamFullstack.Data

@page "/homepage/creator/{id}"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService
@inject IMatToaster Toaster

<MatH4>Hello, welcome back @creator.name</MatH4>

<MatDivider></MatDivider>
<p><br /><br /></p>
<MatButton Link=@("/edit/creator/"+creator.Id)>Edit your Profile</MatButton>

<p><br /><br /></p>
<MatH6>Your Contest</MatH6>
<MatTable Items="@contests" class="mat-elevation-z5">
    <MatTableHeader>
        <th>Id</th>
        <th>Title</th>
        <th>Duration</th>
        <th>Number of Questions</th>
        <th>Manage</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Id</td>
        <td>@context.Title</td>
        <td>@context.Duration</td>
        <td>@context.NumOfQuestion</td>
        <td>
            <MatButton Link=@("/edit/contest/"+context.Id) Raised="true" Disabled=@(context.CreatorId!=Convert.ToInt32(id))>Manage</MatButton>
        </td>
    </MatTableRow>
</MatTable>

<MatButton Link=@("/create/contest/"+id)>Create New Contest</MatButton>

@code {
    [Parameter]
    public string id { get; set; }

    DCreator creator = new DCreator();
    Contest[] contests;
    Contest[] allcontests;
    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        creator = await Http.GetJsonAsync<DCreator>(GlobalSetting.baseAddress + "api/DCreators/" + id);
        baseUrl = AppSettingsService.GetBaseUrl();
        allcontests = await Http.GetJsonAsync<Contest[]>(GlobalSetting.baseAddress + "api/Contests");
        contests = allcontests.Where(x => x.CreatorId == Convert.ToInt32(id)).ToArray();
    }


}
