@using GamaExamFullstack.Data

@page "/homepage/participants/{id}"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService
@inject IMatToaster Toaster

<MatH4>Hello, welcome back @participant.name</MatH4>

<MatDivider></MatDivider>
<p><br /><br /></p>
<MatButton Link=@("/edit/participants/"+participant.Id)>Edit your Profile</MatButton>
<p><br /><br /></p>
<MatH6>Available Contest</MatH6>
<MatTable Items="@contests" class="mat-elevation-z5">
    <MatTableHeader>
        <th>Id</th>
        <th>Title</th>
        <th>Duration (Minutes)</th>
        <th>Number of Questions</th>
        <th>Attempt</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Id</td>
        <td>@context.Title</td>
        <td>@context.Duration</td>
        <td>@context.NumOfQuestion</td>
        <td>
            <MatButton Link=@("/startquiz/"+id+"/"+context.Id) Raised="true">Take</MatButton>
        </td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter]
    public string id { get; set; }

    DParticipant participant = new DParticipant();
    Contest[] contests;
    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        participant = await Http.GetJsonAsync<DParticipant>(GlobalSetting.baseAddress + "api/DParticipants/" + id);
        baseUrl = AppSettingsService.GetBaseUrl();
        contests = await Http.GetJsonAsync<Contest[]>(GlobalSetting.baseAddress + "api/Contests");
    }


}
