@using GamaExamFullstack.Data

@page "/homepage/participants/{id}"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService
@inject IMatToaster Toaster

<MatH4>Hello, welcome back @participant.name</MatH4>

<MatDivider></MatDivider>

<MatButton Link=@("/edit/participants/"+participant.Id)>Edit your Profile</MatButton>

<MatH6>Available Contest</MatH6>
<MatTable Items="@contests" class="mat-elevation-z5">
    <MatTableHeader>
        <th>Id</th>
        <th>Title</th>
        <th>Creator</th>
        <th>Duration</th>
        <th>Attempt</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Id</td>
        <td>@context.Title</td>
        <td>@context.Creator.name</td>
        <td>@context.Duration</td>
        <td>
            <MatButton Link=@("/edit/participant/"+context.Id) Raised="true" Disabled="true">Take</MatButton>
        </td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter]
    public string id { get; set; }

    DParticipant participant = new DParticipant();
    Contest[] contests;
    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        participant = await Http.GetJsonAsync<DParticipant>("https://localhost:5001/api/DParticipants/" + id);
        baseUrl = AppSettingsService.GetBaseUrl();
        contests = await Http.GetJsonAsync<Contest[]>("https://localhost:5001/api/Contests");
    }


}
